.container {
    display: flex;
    flex-direction: row;
    height: 8%;
    margin-block-start: 2%;
    
}

.searchBar {
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin-left: 2.5%;
    border-radius: 20px;
}
.searchBar::placeholder {
  color: gray;
}
.icon {
    font-size: 48px;
    margin: 8px;
    margin-left: 2.5%;
  }
  
  #icon-gold {
    color: 	#DAA520;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    margin-left: 2%;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    margin-left: 2%;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    margin-left: 2%;
  }